
/**
 * Baseline styles for API output
 */

.ballfrog-api-output{
	display: inline-block;
	width: 100%;

	/* table grid */
	.ballfrog-grid{

		th{
			background-color: #efefef;
			font-size: .9em;
			padding: .5em;
		}

		td{
			color: #555;
			font-size: .85em;
			padding: .5em;
		}

		.txt-center{
			text-align: center;
		}
	
	} /* /.ballfrog-grid */

	.ballfrog-scoreboard{

		td, th{
			width: 15%;
		}

		.first{
			width: 40%;
		}
	
	} /* /.ballfrog-scoreboard */

	.ballfrog-activity{

		.bf-activity-item{
			background-color: #efefef;
			border-radius: 3px;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			float: left;
			font-size: .8em;
			margin-bottom: .5em;
			padding: 1% 3%;
			width: 94%;

			q, small{
				clear: both;
				display: inline-block;
				float: left;
			}

			small{
				clear: both;
				display: inline-block;
			}
		}

	} /* /.ballfrog-activity */

	.ballfrog-refresh{

		a{
			background: transparent url(../images/refresh.png) 0 8px no-repeat scroll;
			border: 0 none;
			color: #999;
			display: inline-block;
			font-size: .7em;
			line-height: 1;
			outline: 0 none;
			padding: 10px 0 10px 21px;
			text-decoration: none;

			&.bf-refresh-loading{
				background-image: url(../images/loading.gif);
				font-style: italic;
			}
		}

	} /* /.ballfrog-refresh */

	/* pre-population loading message */
	.loader{
		color: #999;
		font-size: .8em;
		font-style: italic;
	}

	/* "powered by" badge */
	.ballfrog-powered-by{
		background: #333 url(../images/icon.png) 0 0 no-repeat scroll;
		border: 0 none !important;
		border-radius: 3px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		color: #eee;
		display: block;
		font-family: "arial", sans-serif;
		font-size: 9px;
		height: 29px;
		letter-spacing: .05em;
		line-height: 1.4;
		outline: 0 none !important;
		overflow: hidden;
		padding: 3px 0 0 37px;
		text-decoration: none !important;
		text-transform: uppercase;
		width: 120px;

		&:hover{
			color: white;
		}
	}

	.bf-hide{
		display: none !important;
	}

} /* /.ballfrog-api-output */
